{{ define "main" }}
  <div class="back-arrow-container">
    <a href="{{ .Site.BaseURL }}">
      <span class="material-symbols-outlined">
        arrow_back
        </span>
    </a>
  </div>  

  <h1>{{ .Title }}</h1>
  <div class="container">
    {{ range .Params.menu }}
    <div class="menu-item">
        <h2>{{ .courseTitle }}</h2>
        {{ with .items }}
        {{ range . }}
        <div>
            <h3>{{ .name }}</h3>
            <p>{{ .description | markdownify }}</p>
            {{ if .allergens }}
              <span class="allergen-item"><i>Contains: {{ delimit .allergens ", " }}</i></span>
            {{ end }}
        </div>
        <hr>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
  </div>
  <div id="publish_date">
    <p>Published Date - {{ .Date | time.Format ":date_medium" }}</p>
  </div>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}


