
body {
  font-family: 'Georgia', serif;
  background-color: #f9f9f9;
  margin: 50px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}

.menu-item {
  background-color: #f9f9f9;
  margin-bottom: 30px;
  padding: 20px;
}

h2 {
  color: #4d4d4d;
  font-size: 28px;
  margin-bottom: 10px;
}

h3 {
  color: #666;
  font-size: 22px;
  margin-bottom: 5px;
}

p {
  color: #777;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.price {
  color: #8c8c8c;
  font-size: 20px;
  font-weight: bold;
}
